/* ***** Estilos Seção Cases de Sucesso ***** */

.cases {
  background-color: #333;
  color: #FFF;
  padding: 50px;  
}

.cases-title {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.slide-container{
  max-width: 1000px;
  width: 100%;
  padding: 40px 0;  
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card{
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FF7F11;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  
  height: 40px;
  width: 40px;
  background-color: #FF7F11;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #FF7F11;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description{
  font-size: 14px;
  color: #333;
  text-align: center;
  z-index: 1;
}


.swiper-navBtn{
  color: #FF7F11;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover{
  color: #FF7F11;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}

.swiper-pagination-bullet{
  background-color: #FF7F11;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background-color: #FF7F11;
}


@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}