/* ***** Estilos Seção Contate-nos ***** */

.contact {
  background-color: #333;  
  padding: 50px;
}

.contact-title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 50px;
}

.contact-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.opening-hours {
  color: #FFF;
}

.opening-subtitle {
  margin-bottom: 10px;
}

.opening-time {
  margin-bottom: 3px;
}