/* ****** Estilos Seção Depoimentos ***** */

.depositions {
  background-color: #222;
  color: #FFF;  
  
  padding: 50px;
}

.card-content-deposition {
  display: flex;
  flex-direction: column;
  padding: 10px 14px;
}

.deposition-title {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.card-deposition{
  border-radius: 25px;
  background-color: #FF7F11;
}

.rating-img {
  text-align: center;
  margin: 10px 0;
}

.description-deposition{
  font-size: 14px;
  color: #FFF;
}

.name-deposition{
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  margin: 10px 0;
}



