/* ***** Estilos Seção Footer ***** */

.footer {
  background-color: #222;
  padding: 50px;
}

.line-detail {
  margin-bottom: 5px;
}

.copy-text {
  font-size: 18px;
  color: #FFF;
  text-align: center;
}