/* ***** Estilos Header ***** */

.header {
  background-color: #333;
  color: #FFF;
  padding: 50px;
}

.logo-content {
  font-size: 40px;
}

.slogan {  
  max-width: 400px;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin: 50px auto;
}

.presentation {
  max-width: 500px;
  font-size: 18px;
  text-align: center;
  margin: 50px auto;
}

.btn-appointment {
  display: block;
  font-size: 18px;

  border: none;
  margin: 0px auto;
  padding: 14px 10px;
  border-radius: 5px;
  background-color: #FF7F11;
  color: #FFF;
  cursor: pointer;    
}

.btn-appointment:hover {
  background: #F00000;
}



