/* ***** Estilos Seção Sobre a Empresa ***** */

.about {
  background-color: #222;
  color: #FFF;
  padding: 50px;
}

.about-title {
  text-transform: uppercase;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
} 
  
.about_image {
  margin-top: 50px;
}
  
.about_text_content {
  font-size: 20px;  
}


.about-content2 {
  display: grid;
  padding: 50px 0;
  grid-template-columns: 1fr 1fr;
}

.about-div2 {
  display: flex;
  margin: 25px 25px 0 0;
  align-items: center;
  gap: 10px;
}

.about-text-content2 {
  max-width: 320px;
  font-size: 16px;
}